.main
{
    margin-top: 70px;
    /* background-color: aquamarine; */
}
.erroracc
{
    color: brown;
}
.main
{
    border: 5px;
    background-color: burlywood;
    
}
.head
{
    text-align: center;
}