<div class="head">
    <h2>{{aim}}</h2>
</div>
<div class="main">
<form [formGroup]="loginform" (ngSubmit)="login()">
    <div class="container main">
        <div class="row">
            <div class="col-4"></div>

            <div class="col-4 main">
                <input type="text" placeholder="Enter UserId" formControlName="uid" name="uid"><br><br>
                <div class="erroracc"
                    *ngIf="( this.loginform.get('uid')?.touched || this.loginform.get('uid')?.dirty ) && this.loginform.get('uid')?.errors">
                    Invalid userid</div>
                <input type="password" placeholder="Password" formControlName="pwd" name="pwd"><br><br>
                <div class="erroracc"
                    *ngIf="( this.loginform.get('pwd')?.touched || this.loginform.get('pwd')?.dirty ) && this.loginform.get('pwd')?.errors">
                    Invalid password</div>

                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <!-- </form> -->
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <a routerLink="register">Register yourself</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</form>
</div>