<!-- <body>
    <h1>Events History</h1>
     <table>
        <thead>
            <tr>
                <th>Amount</th>&nbsp;&nbsp;
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <th>{{transaction.amount}}</th>
                <th>{{transaction.type}}</th>
            </tr>
        </tbody>
    </table> -->
    <body>
      <div class="container">
          <div class="row">
              <div class="col-4"></div>
              <div class="col-4"><h2>Your Events Histrory</h2></div>
              <div class="col-4"></div>
          </div>
      </div>  
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="container">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Event</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let event of events">
                            <th scope="row">*</th>
                            <td>{{event.date}}</td>
                            <td>{{event.event}}</td>
                        </tr>
                          
                        </tbody>
                      </table>
                </div>
                <a routerLink="/dashboard">Home</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body> 
