<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"><h3>Hello!! Welcome &nbsp;{{newUser}}&nbsp;&nbsp;</h3>
            {{today}}
        </div>
        <div class="col-2"></div>
    </div>
</div>


<div>
    
</div>
<div >
    hello
</div>

<form>
    <div class="container des">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h4>Add events here!!</h4>
                <input type="text" [(ngModel)]="uid" placeholder="userid" name ="uid">
                <input type="date" [(ngModel)]="date" placeholder="date" name="date">
                <input type="text" [(ngModel)]="event" name="" placeholder="Event" name="event">
                <button class="btn btn-success" (click)="addevent()">Add</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</form>

<!-- <form>
    <div class="container des">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Delete events here!!</h2>
                <input type="text" [(ngModel)]="uid1" placeholder="userid" name="uid1">
                <input type="date" [(ngModel)]="date1" placeholder="date" name="date1">
                <input type="text" [(ngModel)]="event1" name="event" placeholder="Event" name="event1">
                <button class="btn btn-success" (click)="deleteevent">Delete</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</form> -->
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <a routerLink="/events">view events history</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<app-deleteconfirmation (onCancel)="cancelatparent()" (onDelete)="ondeleteatparent($event)" [item]="currentuid"></app-deleteconfirmation>
<div clas="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-danger" (click)="deleteAcc()">delete</button>
        </div>
        <div class="col-4"></div>
    </div>
</div>